.feature{
    width: 100%;
    height: auto;
    margin: auto;
    text-align: center;

    .container{
        max-width: 1200px;
        margin: auto;

        .card{
            max-width: 100%;
            min-height: 250px;
            position: relative;
            text-align: center;
            display: grid;
            place-items: center;

            &__imgBx{
                width: 100%;
                height: 100px;
                position: relative;

                &__img{
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: auto;
                    height: auto;
                }
            }

            &__contentBx{
                width: 100%;
                height: 100px;
                position: relative;

                &__title{
                    @include font500;
                    padding-bottom: 1rem;
                }
                &__des{
                    @include font300;
                }
            }
        }
    }
}