.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 999;

    .nav{
        width: 100%;
        height: auto;
        padding: 1rem 0;
        display: flex;
        flex-basis: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &__logo{
            display: inline-block;
            &__img{
                width: 160px;
                height: auto;

                @media (max-width: 768px){
                    width: 120px;
                }
            }
        }

        &__menu{

            &__items{
                display: inline-block;

                &:not(:last-child){
                    margin-right: .1rem;
                }

            }

            &__links{
                @include font300;
                padding: .5rem .3rem;
                color: $White;

                &:hover{
                    text-decoration: underline;
                }

                @media only screen and (min-width: 1200px){
                    font-size: 1.3rem;
                    font-weight: 500;
                }
            }
        }
    }

    &.active{
        background: $DarkBlue;
    }
}